.printify-section {
    text-align: center; 
  }

  .icon {
    height: 150px;
    width: 150px;
  }
  
  .green-text {
    color: #18c75a; 
    font-size: 1.5rem; 
  }
  
  /* Paragraph styling */
  .animated-item p {
    width: 70%; 
    margin: 0 auto; 
  }
  
  /* Animation for the items */
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .icon {
      height: 100px;
      width: 100px;
    }
    
    .green-text {
      font-size: 1.25rem; 
    }
  }
  